.box {width: 100%; height: 960px; background-color: #F3F1F5;} /* 배경색 */
#intro .intro_in {width: 1600px; margin: 0 auto;}
#intro .intro_in .tab {display: flex; justify-content: right; padding-top: 70px;}
#intro .intro_in .tab li {margin-left: 30px;}
#intro .intro_in .tab li:first-child {margin-left: 0;}
#intro .intro_in .tab li a {
    font-family: "Jomolhari", serif;
    color: #7F7C82;
    letter-spacing: 0px;
}
#intro .intro_in p {
    font-family: "Jomolhari", serif;
    text-align: center;
    color: #7F7C82;
}
#intro .intro_in .year {
    font-size: 1.75rem;
    margin-top: 298px;
}
#intro .intro_in h1 {
    font-family: "Jomolhari", serif;
    text-align: center;
    margin-top: 20px;
    font-size: 4.00rem;
    font-weight: 600;
    color: #7F7C82;
}
#intro .intro_in .job {
    margin-top: 20px;
    font-size: 2.00rem;
}
.profile {width: 100%; height: 960px;}
.profile .profile_in {width: 1600px; height: 100%; margin: 0 auto; position: relative;}
.profile .profile_in h2 {
    font-family: "Jomolhari", serif;
    font-size: 4.00rem;
    font-weight: 600;
    color: #7F7C82;
    padding-top: 70px;
}
.profile .profile_in .profile_img {
    position: absolute;
    top: 267px; left: 240px;

}
.profile .profile_in .profile_img .photo {
    width: 356px; height: 436px;
    background-color: lightgray;
}
.profile .profile_in .profile_img p {
    font-family: "Jomolhari", serif;
    letter-spacing: -1px;
    font-size: 1.13rem;
    margin-top: 20px;
    margin-left: -9px;
}
.profile .profile_in .profile_img p span {color: #A6A2AB;}
.profile .profile_in .profile_txt {
    position: absolute;
    top: 267px; left: 666px;
}
.profile .profile_in .profile_txt h3 {
    font-family: "Jomolhari", serif;
    font-size: 1.13rem;
    color: #7F7C82;
    font-weight: 600;
    margin-bottom: 30px;
}
.profile .profile_in .profile_txt h4 {
    font-family: "Jomolhari", serif;
    font-weight: 600;
}
.profile .profile_in .profile_txt .sub_tit {display: flex;}
.profile .profile_in .profile_txt .about {display: flex;}
.profile .profile_in .profile_txt .about .about_left .name p {margin-left: 22px; letter-spacing: -1px;}
.profile .profile_in .profile_txt .about .about_left .phone {margin-top: 20px;}
.profile .profile_in .profile_txt .about .about_left .phone p {margin-left: 18px;}
.profile .profile_in .profile_txt .about .about_right {margin-left: 65px;}
.profile .profile_in .profile_txt .about .about_right .birth p {margin-left: 26px;}
.profile .profile_in .profile_txt .about .about_right .email {margin-top: 20px;}
.profile .profile_in .profile_txt .about .about_right .email p {margin-left: 20px;}
.profile .profile_in .profile_txt .edu {margin-top: 50px;}
.profile .profile_in .profile_txt .edu p {margin-left: 20px; letter-spacing: -1px;}
.profile .profile_in .profile_txt .edu .grad {margin: 20px 0;}
.profile .profile_in .profile_txt .edu .council {margin-bottom: 20px;}
.profile .profile_in .profile_txt .lic_sk {display: flex; margin-top: 50px;}
.profile .profile_in .profile_txt .lic_sk .license p {margin-left: 20px; letter-spacing: -1px;}
.profile .profile_in .profile_txt .lic_sk .license .car {margin-top: 20px;}
.profile .profile_in .profile_txt .lic_sk .skill {margin-left: 100px;}
.profile .profile_in .profile_txt .lic_sk .skill .skicon_top {display: flex; margin-bottom: 10px;}
.profile .profile_in .profile_txt .lic_sk .skill .skicon_top li {margin-right: 10px;}
.profile .profile_in .profile_txt .lic_sk .skill .skicon_topp li:last-child {margin-right: 0;}
.profile .profile_in .profile_txt .lic_sk .skill .skicon_bottom {display: flex;}
.profile .profile_in .profile_txt .lic_sk .skill .skicon_bottom li {margin-right: 10px;}
.profile .profile_in .profile_txt .lic_sk .skill .skicon_bottom li:last-child {margin-right: 0;}
.project01 {width: 100%; height: 960px;}
.project01 .pj01_in {
    width: 1600px; height: 100%;
    margin: 0 auto;
}
.project01 .pj01_in h2 {
    font-family: "Jomolhari", serif;
    font-size: 4.00rem;
    font-weight: 600;
    color: #7F7C82;
    padding-top: 70px;
}
.project01 .pj01_in .web {margin-left: 129px;}
.project01 .pj01_in .web li {display: flex;}
.project01 .pj01_in .web li .web_img {
    width: 720px; height: 752px;
    position: relative;
    overflow: hidden;
}
.project01 .pj01_in .web li .web_img img {
    height: 100%; width: auto;
    position: absolute;
    top: 0; left: 50%; transform: translateX(-50%);
}
.project01 .pj01_in .web li .web_txt {margin: 141px 0 0 73px;}
.project01 .pj01_in .web li .web_txt .text {display: flex; margin-bottom: 25px;}
.project01 .pj01_in .web li .web_txt .text h3 {
    letter-spacing: -1px;
    color: #605C64;
    font-weight: 600;
}
.project01 .pj01_in .web li .web_txt .text p {letter-spacing: -1px;}
.project01 .pj01_in .web li .web_txt .name p {margin-left: 40px;}
.project01 .pj01_in .web li .web_txt .date p {margin-left: 40px;}
.project01 .pj01_in .web li .web_txt .part p {margin-left: 54px;}
.project01 .pj01_in .web li .web_txt .page p {margin-left: 27px;}
.project01 .pj01_in .web li .web_txt .program p {margin-left: 10px;}
.project01 .pj01_in .web li .web_txt .purpose h3 {
    letter-spacing: -1px;
    color: #605C64;
    font-weight: 600;
}
.project01 .pj01_in .web li .web_txt .purpose p {margin-top: 20px; line-height: 140%;}
.project01 .pj01_in .web li .web_txt .btn {display: flex;}
.project01 .pj01_in .web li .web_txt .btn li {margin: 60px 0 0 10px;}
.project01 .pj01_in .web li .web_txt .btn li:first-child {margin-left: 0;}
.project01 .pj01_in .web li .web_txt .btn li a {
    display: block;
    width: 130px; height: 42px;
    border: 1px solid #c8c3cd;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    line-height: 42px;
}
.project01 .pj01_in .web li .web_txt .btn li:last-child a {
    background-color: #7F7C82;
    border: none;
    color: #fff;
    font-weight: 300;
}